{{#if session.isAuthenticated}}
  <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}} {{#link-to 'register'}}Register{{/link-to}}
{{/if}}
{{link-to "Todo list" "todos.index" }}
{{outlet}}
